<div class="jumbotron bg-light m-3">

  <h1>{{title}}</h1>
  <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorem excepturi libero illum repellat obcaecati eveniet. Libero commodi officia atque facere odio ut nulla recusandae nobis ex nesciunt, natus vel.</p>
</div>
